* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    height: 700px;
    background-color: rgb(75, 72, 243);
}

.passwordGenerator {
    margin: auto;
    background-color: rgb(25, 25, 151);
}

input {
    display: inline-block;
    border: none;
    outline: none;
}

.select-options {
    display: flex;
    flex-wrap: wrap;
}

input,
p {
    flex: 50%;
}

input {
    width: 1px;
}